body {
    /* overrides user agent stylesheet */
    background-color: transparent;
}

pre {
    font-family: Consolas, 'Courier New', monospace, sans-serif;
}

@media not (forced-colors: active) {
    body {
        overflow: overlay;
    }

    ::-webkit-scrollbar {
        /* 12px + 1px + 1px */
        width: 14px;
        height: 14px;
    }

    ::-webkit-scrollbar-corner {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        /* 14px / 2 */
        border-radius: 7px;
        background-clip: padding-box;
        border: transparent 5px solid;
        min-width: 80px;
        min-height: 80px;
    }

    ::-webkit-scrollbar-thumb:hover {
        border: transparent 4.5px solid;
    }

    ::-webkit-scrollbar-thumb:vertical {
        background-image: linear-gradient(180deg, rgb(99, 99, 99) 0%, rgba(80, 80, 80) 100%);
    }

    ::-webkit-scrollbar-thumb:horizontal {
        background-image: linear-gradient(90deg, rgb(99, 99, 99) 0%, rgba(80, 80, 80) 100%);
    }

    ::-webkit-scrollbar-track {
        background: none;
    }
}