* {
    --sidebar-width: 200px;
}

#sidebar_open>input:focus-visible,
.sidebar_item:focus-visible {
    border-radius: 3px;
    outline: var(--focus-color) solid 2px;
}

a:hover {
    opacity: 0.9;
}

#app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: stretch;
}

#tabs {
    position: relative;
    flex: 1;
    transition: filter 0.2s var(--cubic-bezier), transform 0.2s var(--cubic-bezier), opacity 0.2s var(--cubic-bezier);
    overflow: hidden;
}

.tab {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    padding: 30px;
    transform: translateY(150px);
    transition: transform 0.2s var(--cubic-bezier-smooth), opacity 0.1s var(--cubic-bezier);
    opacity: 1;
    overflow: overlay;
}

.tab_hided {
    transform: scale(0.9);
    pointer-events: none;
    opacity: 0;
}

.tab_show {
    display: block;
}

.tab_showed {
    z-index: 100;
    transform: translateY(0px);
}

.tab_title {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

.tab_body {
    padding-top: 20px;
}

.img_big {
    width: 100%;
}

.img_autoadapt {
    filter: drop-shadow(1000000px 0px 0px var(--text-color));
    transform: translateX(-1000000px);
}

.card_title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
}

.card_body {
    max-width: 820px;
    min-width: 250px;
    border-radius: 8px;
    background-color: var(--card-background);
    border: var(--light-border) 1px solid;
    margin: 10px 0;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}

.card_transparent {
    background-color: var(--card-transparent-background);
    border: var(--highlight-border) 1px solid;
    box-shadow: none;
    overflow: visible;
}

.group {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fdialog {
    z-index: 10000000;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--card-background);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    transform: translateY(calc(100% + 30px));
}

.fdialog_show {
    animation: fdialog_show 0.6s var(--cubic-bezier) forwards;
}

.no_animation .fdialog_show {
    transform: translateY(0%);
    opacity: 1;
    display: flex;
}

.fdialog_hide {
    animation: fdialog_hide 0.4s var(--cubic-bezier-smooth) forwards;
}

.no_animation .fdialog_hide {
    transform: translateY(0%);
    display: none;
}

.fdialog_btns {
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}

@keyframes fdialog_show {
    0% {
        transform: translateY(calc(100% + 30px));
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes fdialog_hide {
    0% {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: none;
    }

    100% {
        display: none;
        transform: translateY(calc(100% + 30px));
        opacity: 0;
    }
}

.browser_icon {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.browser_text {
    font-weight: 600;
    font-family: "Comfortaa";
}

.group_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.group_vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.label {
    color: var(--text-color);
}

.label_sub {
    color: var(--text-sub-color);
}

.label>*,
.label {
    font-size: 15px;
}

.label_sub>*,
.label_sub {
    font-size: 14px;
}

.label_multi {
    font-size: 0 !important;
}

.label,
.label_sub {
    word-break: break-all;
}

#sidebar {
    padding: 30px;
    transition: transform 0.2s var(--cubic-bezier-smooth);
    height: 100%;
    z-index: 100000000;
    overflow: auto;
}

#sidebar_open {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
    font-size: 24px;
    color: var(--button-color);
    transition: color 0.2s var(--cubic-bezier), background-color 0.2s var(--cubic-bezier);
    z-index: 100000000;
    border-radius: 3px;
    width: 34px;
    height: 34px;
}

#sidebar_open>input {
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
    pointer-events: all;
}

#sidebar_open:hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover);
}

@media screen and (max-width: 800px) {
    #sidebar {
        position: absolute;
        transform: translateX(-100%);
    }

    #sidebar_open {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar_show {
        transform: translateX(0%) !important;
    }

    .sidebar_show~#tabs {
        filter: blur(50px);
        transform: scale(0.8);
        pointer-events: none;
    }

    .low_performance .sidebar_show~#tabs {
        filter: none;
        opacity: 0.1;
    }

    #sidebar_items {
        transform: scale(0.1);
    }

    .sidebar_show>#sidebar_items {
        transform: scale(1);
    }

    /* disable unnecessary transition when the sidebar collapses */
    .tab {
        transition: none;
    }
}

#sidebar_title {
    color: var(--text-color);
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
}

#sidebar_items {
    padding-top: 20px;
    transition: transform 0.2s var(--cubic-bezier);
}

.sidebar_item {
    position: relative;
    color: var(--button-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px;
    margin: 4px 0;
    padding-right: 40px;
    border-radius: 5px;
    transition: color 0.1s var(--cubic-bezier), background-color 0.1s var(--cubic-bezier);
    min-width: 200px;
    background-color: transparent;
}

.sidebar_item>* {
    pointer-events: none;
}

.sidebar_item_active,
.sidebar_item:hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover);
}

.sidebar_item>div:nth-child(1) {
    color: inherit;
    font-size: 18px;
    padding-right: 5px;
}

.sidebar_item>div:nth-child(2) {
    color: inherit;
    font-size: 14px;
}

.sidebar_item>input {
    position: absolute !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: all;
    appearance: none;
    border-radius: inherit;
    border: none;
    outline: none;
}

.sidebar_item>input:focus-visible {
    border: var(--focus-color) 2px solid;
}