.startbg {
    z-index: -100000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--home-background);
}

.startbg>div {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.5s var(--cubic-bezier);
}

.startbg_blur {
    filter: blur(20px);
}

#main {
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    backdrop-filter: blur(20px);
    background-color: var(--home-main-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: #0000001c 0px 0px 5px 1px;
}

#time {
    opacity: 0;
    font-size: 35px;
    color: var(--home-time-color);
    transition: opacity 0.4s var(--cubic-bezier-smooth);
}

#search>input {
    text-align: left;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: var(--home-search-background);
    transition: border 0.2s var(--cubic-bezier-smooth);
    box-shadow: #00000030 0px 0px 8px 0px;
    color: var(--home-search-color);
    border: transparent 2px solid;
}

#search>input:focus {
    border: var(--theme-color) 2px solid;
}

#btns {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
}

#btns>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--home-btn-color);
    border: none;
    outline: none;
    background-color: transparent;
    transition: color 0.2s var(--cubic-bezier), background-color 0.2s var(--cubic-bezier);
    border-radius: 3px;
    border: var(--highlight-border) 1px solid;
}

#btns>button:hover {
    color: var(--home-btn-hover-color);
    background-color: var(--home-btn-hover);
}

#btns_settings>* {
    transition: transform 0.5s var(--cubic-bezier);
}

#btns_settings:hover>* {
    transform: rotateZ(90deg);
}

#btns_settings:active>* {
    transform: rotateZ(120deg);
    transition: transform 0.2s var(--cubic-bezier);
}

.sw-ui-main-alarm-desc {
    display: none !important;
}

.sw-typography {
    text-align: center !important;
}

.sw-typography>a {
    pointer-events: none !important;
    text-decoration: none !important;
}