* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    font-family: sans-serif;
    --cubic-bezier: cubic-bezier(0.65, 0.05, 0.1, 1);
    --background: rgb(241, 241, 241);
    --text-color: rgb(0, 0, 0);
    --cover-color: linear-gradient(135deg, rgb(132, 0, 255), rgb(0, 102, 255));
    --cover-sub-color: rgb(99, 99, 99);
    --theme-color: rgb(0, 120, 212);
    --button-background: rgb(233, 233, 233);
    --button-color: rgb(0, 0, 0);
    --button-highlight-color: rgb(255, 255, 255);
    --button-highlight-background: var(--theme-color);
    --dialog-background: rgb(255, 255, 255);
}

body {
    background-color: var(--background);
}

.button {
    border: 0;
    outline: 0;
    color: var(--button-color);
    background-color: var(--button-background);
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 5px;
    box-shadow: #0000002e 0px 0px 20px 1px;
    transition: opacity 0.2s var(--cubic-bezier), transform 0.2s var(--cubic-bezier);
}

.button:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.button_highlight {
    color: var(--button-highlight-color);
    background-color: var(--button-highlight-background);
}

.button_wide {
    padding: 5px 40px;
}

.button_main {
    font-size: inherit;
}

.button_sub {
    font-size: 14px;
}

#cover {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#cover_logo {
    width: 100px;
    height: 100px;
}

#cover_title {
    font-weight: 100;
    text-align: center;
    color: transparent;
    background-image: var(--cover-color);
    font-size: 35px;
    -webkit-background-clip: text;
    background-clip: text;
}

#cover_sub {
    text-align: center;
    color: var(--cover-sub-color);
    font-size: 18px;
    font-weight: 100;
}

#cover_buttons {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#cover_buttons>button {
    width: 160px;
}

@media screen and (max-width: 600px) {
    #cover_buttons {
        flex-direction: column;
    }
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--dialog-background);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    box-shadow: #00000036 0px 0px 20px 1px;
    pointer-events: none;
    z-index: 100;
}

@media screen and (max-width: 500px) {
    .dialog {
        width: calc(100vw - 100px);
    }
}

.transition .dialog {
    transition: opacity 0.2s var(--cubic-bezier), transform 0.2s var(--cubic-bezier);
}

.dialog_show {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
}

.dialog_show~#main {
    pointer-events: none;
}

.dialog_title {
    color: var(--text-color);
    font-size: 25px;
}

.dialog_sub {
    color: var(--text-color);
    font-size: 16px;
}